<p>This is the about view.</p>

<pre class="lang-css">

    <code class="language-css">
        .myclass {
        border: 1px solid red;
        }

    </code>
</pre>
<code hljs>
        <ul>
        <!-- quiz.javasript is not a  file-->
        <li ui-sref="quiz.javasript" ui-sref-active="active"><a href="">Javascript</a></li>
        <li ui-sref="quiz.css" ui-sref-active="active"><a href="">CSS</a></li>
        <li ui-sref="quiz.frontend" ui-sref-active="active"><a href="">Front end questions</a></li>
    </ul>

</code>
