<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" ui-sref="home">Javascript quiz</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <li>
                        <a href="https://twitter.com/benchaaben" class="twitter-follow-button" data-show-count="false">Follow @benchaaben</a>
                    </li>
                </li>
            </ul>
        </div>
    </div>
</nav>
