<div class="row">
    <div class="col-xs-12">
        <h2>Welcome to the quiz</h2>
    </div>
    <div class="col-xs-12 jumbotron">
        <div class="row">
            <div class="col-xs-4">
                <h2>Javascript quiz</h2>
            </div>
            <div class="col-xs-4">
                <h2>Css quiz</h2>
            </div>
            <div class="col-xs-4">
                <h2>Html quiz</h2>
            </div>
            <div class="col-xs-4">
                <h2>Front end mixed quiz</h2>
            </div>
        </div>
    </div>
</div>
<!-- We have a view loading here -->
<div ui-view></div>
